header{
    height: 80px;
}
.spotify-bg-header{
    background-color: #06131f;
}
.icon-brand{
    height: 50px;
    margin-top: 1rem;
}

body{
    background-color: #1d2d3c;
}

.card-disc{
    background-color: #112030;
}

.img-card{
    width: 100%;
}

h3{
    font-size: 1.2rem;
    font-weight: bold;
}